@font-face {
  font-family: "Urbanist";
  src: url(/fonts/urbanist-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url(/fonts/urbanist-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url(/fonts/urbanist-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProFontWindows";
  src: url(/fonts/pro-font-windows-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProFontWindows";
  src: url(/fonts/pro-font-windows-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat_700";
  src: url(/fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat_900";
  src: url(/fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa_700";
  src: url(/fonts/Comfortaa-VariableFont_wght.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono_400";
  src: url(/fonts/JetBrainsMono-VariableFont_wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono_700";
  src: url(/fonts/JetBrainsMono-VariableFont_wght.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
